.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 1em;
  padding-left: .5em;
  padding-right: .5em
}

.subcontainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-image: url('../img/poster.jpg');
  border-radius: 5px;
  box-shadow: 0 0 4px 5px #5015bd;
  opacity: 100%;
}

.subcontainer2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-image: url('../img/poster2.jpg');
  background-size: cover;
  border-radius: 5px;
  box-shadow: 0 0 4px 5px #5015bd;
  margin-top: 1em;
}

.contact {
  width: 100%;
}
