.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 20px;
  padding: 2em;
}

.containerInfo {
  width: 50%;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
}

.containerInfo h2 {
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  padding-bottom: 2em;
}

.containerInfo h2 span {
  color: #027fe9;
  font-weight: bolder;
  text-shadow: 4px 4px 8px #3d0a49;
}

.overlay {
  top: 0;
  left: 0;
  padding: 1em;
  border-radius: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000b8;
  opacity: 70%;
  transition: .5s;
}

@media screen and (max-width: 1080px){
  .container{
    width: 100%;
    flex-direction: column;
  }

  .containerInfo{
    width: 100%;
    flex-direction: column;
    background-color: transparent;
  }

  .overlay{
    flex-direction: column-reverse;
    padding: 1em;
    margin-top: -2em;
    border-radius: 1px;
    background-color: transparent;
  }

  .overlay img {
    width: 350px;
  }
}