.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 2em;
}

.title {
  background-color: #e0daf7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 30%;
  z-index: 3;
  border-radius: 25px;
  box-shadow: 0 0 2px 3px #5015bd;
  margin-bottom: -5em;
  opacity: 80%;
  margin-top: 1em;
}

.title h2 {
  padding: .5em;
  color: #5015bd;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  font-size: 32px;
}

.testimony {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding-top: 8em;
}

.line {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  background-color: #00caf8;
  margin: .5em;
  border-radius: 20px;
}

.lineReverse {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  background-color: #00caf8;
  margin: .5em;
  border-radius: 20px;
}

.img {
  width: 40%;
  align-items: center;
  justify-content: center;
  padding: 2em;
  background-color: #5015bd;
  border-radius: 20px;
  margin-left: 1em;
  margin-right: 1em;
}

.img img {
  max-width: 350px;
  margin-right: 200px;
  margin-left: .5em;
  border-radius: 20px;
}

.text {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #3d0a49;
  color: #fff;
  padding: 2em;
  border-radius: 20px;
}

.text h3 {
  margin-top: 1em;
}

@media screen and (max-width: 1080px){

  .title {
    width: 50%;
  }

  .line {
    width: 60%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .lineReverse {
    width: 60%;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .img {
    width: 98%;
    justify-content: center;
    align-items: center;
  }

  .img img {
    max-width: 250px;
  }

  .text {
    margin-top: 1em;
    width: 98%;
    justify-content: center;
    align-items: center;
  }

}